<aside roll="navigation">
<p>웹디자인, Front-End, 웹표준 이야기가 소소하게 나누어 지는 블로그 입니다.</p>
<ul class="category">
<li><a href="/articles/">Articles</a></li>
<li><a href="/tips/">Tips</a></li>
<li><a href="/html/">HTML</a></li>
<li><a href="/css/">CSS</a></li>
<li><a href="/js/">JS</a></li>
<li><a href="/browser/">BROWSER</a></li>
<li><a href="/standards/">웹표준</a></li>
<li><a href="/product/">PRODUCT</a></li>
<li><a href="/design/">DESIGN</a></li>
<li><a href="/userfriendly/">UX/UI/AX</a></li>
<li><a href="/etc/">ETC</a></li>
</ul>
</aside>
<input type="checkbox" id="cat-trigger" class="cat-trigger" />
<label for="cat-trigger"></label>
