<aside>
<p>웹디자인, Front-End, 웹표준 이야기가 소소하게 나누어 지는 블로그 입니다.</p>
<ul class="category">
<li><a href="/html/"><i class="iconp-html5-01"></i> HTML</a></li>
<li><a href="/css/"><i class="iconp-css3-01"></i> CSS</a></li>
<li><a href="/js/"><i class="iconp-prog-js01"></i> JS</a></li>
<li><a href="/browser/"><i class="iconp-brw-firefox"></i> BROWSER</a></li>
<li><a href="/standards/"><i class="icon-w3c"></i> 웹표준</a></li>
<li><a href="/product/"><i class="iconp-os-apple"></i> PRODUCT</a></li>
<li><a href="/design/"><i class="iconp-orkut"></i> DESIGN</a></li>
<li><a href="/userfriendly/"><i class="icon-info"></i> UX/UI/AX</a></li>
<li><a href="/etc/"><i class="icon-star"></i> ETC</a></li>
</ul>
</aside>
<input type="checkbox" id="cat-trigger" class="cat-trigger" />
<label for="cat-trigger"></label>
