a {
	font-weight: bold;
	border-bottom: 1px dashed;
}
/*blockquote:before {
	font-family: "fontello";
  	display: inline-block;
  	content: '\e808';
		margin-left: -1.7em;
		width: 1.7em;
}*/
p {
	margin: 1.4em 0;
}
h4,h5,h6 {
	margin-top: 2em;
	padding-bottom: 0;
	margin-bottom: -10px;
}
h2 {
	margin-top: 3em;
	font-size: 1.9em;
}
h3 {
	margin-top: 3em;
	font-size: 1.6em;
}
img {
	&[alt~="minisize"] { 
	  max-width:  100px;
	}
	&[alt~="fullsize"] {
		width: 100%;
	}
	&[alt~="jumbosize"] {
		width: 100%;
		margin-left: -90px;
		margin-right: -90px;
		@include media-query($handheld) {margin-left: 0; margin-right: 0;}
	}
	&[alt~="leftalign"] {
		float: left;
		margin-right: 6px;
		margin-bottom: 6px;
	}
	&[alt~="writtenby"] {
		margin-top: 3em;
		margin-bottom: 3em;
		float: left;
		margin-right: 1em;
		width: 20px;
		height: 20px;
	}
}
a[rel="footnote"] {
	padding: .1em .4em;
	background: #eee;
	border-radius: 2px;
	border-bottom: none;
	border: 1px solid #eee;
}
ul li li {
	padding-bottom: .5em;
}
table {
	thead {
		th {
			padding-top: 1em;
			padding-bottom: 1em;
			background: #b0cf06;
			color:white;
			font-weight: normal;
		}

	}
	thead th:first-child {
		width: 20%;
	}
	tbody th {
		background: #eee;
	}
	th {border:1px solid #d4d6cb;}
	td {border: 1px solid #eee;padding:1em;}
}

.large {
	margin-left: -80px;
	margin-right: -80px;
	padding-top: .8em;
	padding-bottom: 1.5em;
	font-size: 1.7em;
	line-height: 1.5;
	color: $color-brand;
	@include media-query($handheld) {margin-left: 0; margin-right: 0;}
	&:before {
		content: '" ';
	}
	&:after {
		content: ' "';
	}
}