---
layout: default
---
<article id="browser">
<header roll="heading">
<h1>{{ page.title }}</h1>
</header>
<main class="contents">
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<ul>
	<li id="browser-ie">
		<h3>IE</h3>
		<p><a class="twitter-timeline" data-chrome="noborders transparent nofooter noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=%23ie11%20released" data-widget-id="570715733722931200">Tweets about #ie11 installed</a> </p>
	</li>
	<li id="browser-sp">
		<h3>Spartan</h3>
		<p><a class="twitter-timeline" data-chrome="noborders transparent nofooter noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=spartan%20browser%20released" data-widget-id="570708829697236992">Tweets about #spartan browser version</a></p>
	</li>
	<li id="browser-ch">
		<h3>Chrome</h3>
		<p><a class="twitter-timeline" data-chrome="noborders transparent nofooter noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=chrome%20released%20with" data-widget-id="570714337376227328">Tweets about #chrome release</a></p>
	</li>
	<li id="browser-ff">
		<h3>Firefox</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=firefox%20released%20with" data-widget-id="570713935134072832">Tweets about #firefox version</a></p>
	</li>
	<li id="browser-wk">
		<h3>Webkit Engine</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=new%20webkit" data-widget-id="570720633961848832">Tweets about new webkit</a></p>
	</li>
	<li id="browser-op">
		<h3>Opera</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=%23opera%20browser%20released" data-widget-id="570716200230199296">Tweets about #opera browser</a></p>
	</li>
	<li id="browser-sf">
		<h3>Safari</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=safari%20browser%20updated" data-widget-id="570716868491890688">Tweets about #safari browser</a></p>
	</li>
	<li id="browser-vv">
		<h3>Vivaldi</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=vivaldi%20browser%20released" data-widget-id="570717163640864768">Tweets about vivaldi browser version</a></p>
	</li>
</ul>
{{ content }}
</main>
<footer></footer>
</article>
