---
layout: default
---
<article id="browser">
<header roll="heading">
<h1>{{ page.title }}</h1>
</header>
<main class="contents">
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<ul>
	<li id="browser-ie">
		<h3>IE</h3>
		<p><a class="twitter-timeline" data-chrome="noborders transparent nofooter noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=ie11%20features" data-widget-id="570715733722931200">Tweets about #ie11 installed</a> </p>
	</li>
	<li id="browser-sp">
		<h3>Edge</h3>
		<p><a class="twitter-timeline" data-chrome="noborders transparent nofooter noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/MicrosoftEdge" data-widget-id="731116692336726017">Tweets by @MicrosoftEdge</a></p>
	</li>
	<li id="browser-ch">
		<h3>Chrome</h3>
		<p><a class="twitter-timeline"  href="https://twitter.com/googlechrome" data-chrome="noborders transparent nofooter noheader" data-tweet-limit="2" data-widget-id="731115133724938240">Tweets by @googlechrome</a></p>          
	</li>
	<li id="browser-ff">
		<h3>Firefox</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/firefox" data-widget-id="731116692336726017">Tweets by @firefox</a></p>
	</li>
	<li id="browser-wk">
		<h3>Blink Engine</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/search?q=blank%20engine%20new" data-widget-id="570720633961848832">Tweets about new blink</a></p>
	</li>
	<li id="browser-op">
		<h3>Opera</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader noscrollbar" data-tweet-limit="3" href="https://twitter.com/opera" data-widget-id="731116692336726017">Tweets by @opera</a></p>
	</li>
	<li id="browser-sf">
		<h3>Safari/Webkit Engine</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader" data-tweet-limit="3" href="https://twitter.com/webkit" data-widget-id="731116692336726017">Tweets by @webkit</a></p>
	</li>
	<li id="browser-vv">
		<h3>Vivaldi</h3>
		<p><a class="twitter-timeline" data-chrome="noborders nofooter transparent noheader" data-tweet-limit="3" href="https://twitter.com/vivaldibrowser" data-widget-id="731116692336726017">Tweets by @vivaldibrowser</a></p>
	</li>
</ul>
{{ content }}
</main>
<footer></footer>
</article>
