<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>일모리와 웹표준 - HTML 4.01 로 코딩하여 남겨두기</title>
<META NAME="KEYWORDS" CONTENT="일모리, 웹표준, 웹디자인, HTML4.01, LEGACY">
<META NAME="DESCRIPTION" CONTENT="일모리와 웹표준에서 남겨두는 HTML 4.01 LEGACY 페이지 입니다.">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<link rel="shortcut icon" href="/assets/img/system/logo@2x.png" />
<style type="text/css">
<!--
h2 {padding-left: 12px;}
p { padding-left: 12px;padding-right: 12px;}
-->
</style>
</head>
<body alink="green">
<table border="1" width="100%" height="100%" cellpadding="0" cellspacing="0">
<tr height="50PX">
	<td width="50PX" align="center" background="/assets/img/blog/2015bgpattern.png"><b><font size="5">일모리와 웹표준</font></b></td>
	<td width="100PX" align="right">
		<img src="/assets/img/blog/2015reddot.gif" border="0"> <a href="">블로그</a>  <img src="/assets/img/blog/2015reddot.gif" border="0"> <a href="/about/">일모리</a>  <img src="/assets/img/blog/2015reddot.gif" border="0"> <a href="/contact/">연락하기</a>
	</td>
</tr>
<tr>
	<td width="80%" valign="top">
		<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
			<tr height="300px">
				<td valign="top" align="center">
				<br>
				<br>
				<br>
				<img src="/assets/img/blog/starg89.gif" border="0"><img src="/assets/img/blog/ayo6.gif" border="0"><img src="/assets/img/blog/starg89.gif" border="0">
				<br>
				<br>
				<font size="5">1999년 일모리네에 오신것을 환영합니다.</font>
				<br>
				<br>
				<img src="/assets/img/blog/2015hr.gif" border="0" width="80%"><br><br>
				<marquee><font color="blue">웹디자인, Front-End, 웹표준 이야기가 소소하게 나누어 지는 블로그 입니다.</font></marquee>
				</td>
			</tr>
			<tr>
				<td valign="top">
					<h2>{{ page.title }}</h2>
					{{ content }}

				<p>이하는 각종 html 4.01 태그들이다.</p>
				<p>- <i>이탈릭체</i> i 로 감싸준다.</p>
				<p>- <font color="red">글자 색상 주기</font> font color="색"</p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				</td>
			</tr>
		</table> 
	</td>

	<td width="20%" valign="top" bgcolor="#000000">
	<table border="1" width="100%">
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/html/" name="link to html"> HTML</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/css/"> CSS</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/js/"> JS</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/browser/"> BROWSER</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/standards/"> 웹표준</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/product/"> PRODUCT</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/design/"> DESIGN</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/userfriendly/"> UX/UI/AX</a></td>
		</tr>
		<tr>
			<td height="30"><img src="/assets/img/blog/2015earth.gif" border="0"> <a href="/etc/"> ETC</a></td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>