<!DOCTYPE html>
<html>
{% include head.html %}
<body class="log">
{% include header.html %}
<div id="wrapper">
{% include sidebar.html %}
<main id="main" roll="main">
<ul>
<li><a href="/log/sass/">#sass,scss,less</a><br></li>
<li><a href="/log/svg/">#svg</a> </li>
<li><a href="/log/tool/">#tools</a> </li>
<li><a href="/log/ux/">#user experience</a><br></li>
<li><a href="/log/framework/">#framework - bootstrap,foundation</a></li>
<li><a href="/log/design/">#design</a><br></li>
<li><a href="/log/typography/">#typography</a></li>
<li><a href="/log/html/">#html</a></li>
<li><a href="/log/css/">#css</a></li>
</ul>
{{ content }}
</main><!-- //main -->
{% include footer.html %}
</div><!-- //wrapper -->

</body>
</html>